@{
    ViewBag.Title = "About Drinago";

}
@{
    ViewBag.Header = "Editor's Notice";
    ViewBag.Notice = "This is an early alpha stage of the website. We have chosen to build our website using ASP.NET MVC. Please, any errors you may encounter, let me know at: test@test.com, thanks! This website uses bootstrap framework, which means that it's responsive out of the box, so you can use it on any device you want. This website is dedicated to the tourists who are visiting or who are wishing to visit Bosnia, and in this case, the small town of Gorazde. The point of the website is to introduce tourists to the town of Gorazde, people of Gorazde, culture of Gorazde and so forth.";
    ViewBag.VisionH = "Our Vision";
    ViewBag.Vision = "This website was created to focus on introducing the potential which whom this region is rich. Drinago is a team who is always watching top trends in the world, which is really important. It promotes seasonal and out of season information in the world. Mainly informs curious possible visitors to Gorazde about nature potential, clean air, suitable climate, preservation of environment, forests and mountains scope, flora and fauna richness. In the first plan, purpose of this website is to introduce nature and cultural heritage of Bosnia and Herzegovina region to tourists.";
    ViewBag.Registration = "Notice about registration";
    ViewBag.Team = "Team behind the project";
}
<body class="aboutsadrzaj">
    <section class="bg-1 text-center">
        <h1 class="">About DrinaGo</h1>
    </section>

    <!-- Editor's Notice  -->
    <div class="section1">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>@ViewBag.Header</h4>
            <hr />
            <p align="justify">
                @ViewBag.Notice
            </p>
        </div>
    </div>
    <br>

    <!-- Our vision -->
    <div class="section2">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>@ViewBag.VisionH</h4>
            <hr />
            <p align="justify">
                @ViewBag.Vision
            </p>
        </div>
    </div>
    <br />

    <!-- Team behind the project -->
    <div class="section4">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>@ViewBag.Registration</h4>
            <hr />
            <p align="justify">
                For now registration is <b>DISABLED</b>, it is still in testing phase, and it is buggy. Our vision is that users should be able to register an account, upload photos, and leave reviews for places they visit.
                <br />
                Report any issues you encounter on our <a class="linkgithub" href="https://github.com/vanilija/drinagoAWS"><b>Github page</b></a>
            </p>
        </div>
    </div>
    <br />
    <div class="section4">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4>@ViewBag.Team</h4>
            <hr />
            <p align="justify">
                Meet the Drinago team. For now this is <b>not available</b> due closed state od the project. In the near future this will be available.
            </p>
        </div>
    </div>
</body>

<!-- In line styling -->
<style>
    .section1,
    .section2,
    .section3,
    .section4,
    .section5 {
        background-color: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-radius: 3px;
    }

    .aboutsadrzaj {
        background-image: url(https://github.com/Nurdoidz/Typogra-Voat/blob/master/Img/Bg-1.png?raw=true);
    }

    .linkgithub {
        color: black;
    }


    h1 {
        color: white;
    }

    .divider {
        height: 2px;
    }

    section {
        height: 400px;
        padding-top: 80px;
        padding-bottom: 50px;
        overflow: auto;
    }

    .bg-1 {
        background: url(http://i0.wp.com/www.nerdshd.com/wp-content/uploads/2014/10/geek-wallpaper-collection-1-stugon.com-2.jpg) no-repeat top center fixed; /*no-repeat center center fixed;*/
        color: #fff;
        background-size: 1140px;
    }


    h1 {
        text-align: center;
        padding-top: 50px;
    }
</style>